AI-Pr-Reviewer-Agent/AI PR Reviewer.json
{
  "name": "AI PR Reviewer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cd2e99b7-88a4-4a7a-a363-3340ec1d696e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getPullRequests",
        "owner": {
          "__rl": true,
          "value": "praveenchapala",
          "mode": "list",
          "cachedResultName": "praveenchapala",
          "cachedResultUrl": "https://github.com/praveenchapala"
        },
        "repository": {
          "__rl": true,
          "value": "api-learning-journey",
          "mode": "list",
          "cachedResultName": "api-learning-journey",
          "cachedResultUrl": "https://github.com/praveenchapala/api-learning-journey"
        },
        "getRepositoryPullRequestsFilters": {
          "state": "all"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "b0387253-f375-41b8-a7f0-ec55c39767d4",
      "name": "Get pull requests of a repository",
      "webhookId": "c2432b00-77d4-4477-934a-b2fcc24ead23",
      "credentials": {
        "githubApi": {
          "id": "WSo0wT2i7MFv9Is5",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Code Reviewer.\n\nReview the following code changes.\n\nFile:\n{{ $json.filename }}\n\nPatch:\n{{ $json.patch }}\n\nEvaluate:\n\n1. Naming conventions\n2. Formatting issues\n3. Documentation quality\n4. Best practices\n5. Suggestions for improvement\n\nProvide a final recommendation.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        -240
      ],
      "id": "d7edabd1-be99-4202-944f-9cf66478c8c4",
      "name": "Code Quality Reviewer"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        96,
        -80
      ],
      "id": "f79f1f47-fb53-46c8-b812-90fa1e54a998",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"issues_found\": [],\n  \"suggestions\": [],\n  \"quality_score\": 0,\n  \"recommendation\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        320,
        -96
      ],
      "id": "5ab0302d-f15d-4215-b78d-69de69fbadd0",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json.base.repo.owner.login}}/{{$json.base.repo.name}}/pulls/{{$json.number}}/files",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "ddbc0021-eb70-4808-993b-39a7a5588bfd",
      "name": "Get PR Files"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Security Engineer.\n\nReview the following pull request changes.\n\nFile:\n{{ $json.filename }}\n\nPatch:\n{{ $json.patch }}\n\nAnalyze for:\n\n1. Hardcoded passwords\n2. API keys\n3. Secrets\n4. Authentication issues\n5. Authorization issues\n6. SQL Injection\n7. XSS vulnerabilities\n8. Sensitive information exposure\n\nIf no issues are found, clearly mention that.\n\nReturn JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        -240
      ],
      "id": "7afa9a99-5e3b-4845-b6a4-de48727da70a",
      "name": "Security Reviewer Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        528,
        -64
      ],
      "id": "4d3203db-c52f-46fd-9a15-948ce91c73c6",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"security_risk\": \"\",\n  \"findings\": [],\n  \"recommendation\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        -64
      ],
      "id": "fd405fcf-f353-4462-8f0e-057bbb3f4fa5",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        784,
        -32
      ],
      "id": "9ca8fc7f-7c02-403a-ac82-b1030d12e68e",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"performance_risk\": \"\",\n  \"findings\": [],\n  \"recommendation\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        912,
        -16
      ],
      "id": "b9de6c2d-371f-491f-abf5-71338f51dfe9",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        672,
        272
      ],
      "id": "2abb3be9-d4b9-4d18-a59c-c942c9659b8e",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Software Architect.\n\nAnalyze the pull request and create a high-level summary.\n\nFile:\n{{ $json.filename}}\n\nPatch:\n{{ $json.patch}}\n\nDetermine:\n\n1. Purpose of the change\n2. Files modified\n3. Type of change\n4. Complexity\n5. Risk level\n6. Short summary\n\nReturn JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        128
      ],
      "id": "4b34689d-3ac0-4cbc-ae61-de5259d07d54",
      "name": "PR Summary Agent2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"purpose\": \"\",\n  \"files_modified\": [],\n  \"change_type\": \"\",\n  \"complexity\": \"\",\n  \"risk_level\": \"\",\n  \"summary\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        864,
        320
      ],
      "id": "290d0993-4d32-474e-939e-2ffba246314d",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Performance Engineer.\n\nReview the following pull request changes.\n\nFile:\n{{ $json.filename }}\n\nPatch:\n{{ $json.patch }}\n\nAnalyze for:\n\n1. Inefficient algorithms\n2. Nested loops\n3. Database performance issues\n4. N+1 query problems\n5. Memory usage issues\n6. Expensive API calls\n7. Unnecessary computations\n8. Scalability concerns\n\nIf no performance issues are found, clearly mention that.\n\nReturn JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        -224
      ],
      "id": "06ca2885-1b17-4791-8990-05f119e23acf",
      "name": "Performance Reviewer Agent"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1088,
        -80
      ],
      "id": "95e8c52d-5876-4184-bdf4-613e9b9e282a",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Principal Engineer and AI Review Lead.\n\nYou have received the outputs from multiple AI review agents.\n\nPR Summary:\n{{ JSON.stringify($items(\"Merge\")[3].json.output, null, 2) }}\n\nCode Quality Review:\n{{ JSON.stringify($items(\"Merge\")[0].json.output, null, 2) }}\n\nSecurity Review:\n{{ JSON.stringify($items(\"Merge\")[1].json.output, null, 2) }}\n\nPerformance Review:\n{{ JSON.stringify($items(\"Merge\")[2].json.output, null, 2) }}\n\nYour responsibilities:\n\n1. Calculate an overall risk score between 0 and 100.\n2. Determine the risk level:\n   - Low\n   - Medium\n   - High\n   - Critical\n\n3. Make a final decision:\n   - Approve\n   - Approve with Comments\n   - Request Changes\n   - Reject\n\nDecision Guidelines:\n\n0-30 → Approve\n31-60 → Approve with Comments\n61-80 → Request Changes\n81-100 → Reject\n\nConsider:\n- Code quality issues\n- Security findings\n- Performance findings\n- Complexity of the change\n- Type of files modified\n\nProvide reasoning and key findings.\n\nReturn JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1152,
        -240
      ],
      "id": "6112d66e-ce8e-41ac-8c88-12d126200381",
      "name": "Risk Scoring Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1248,
        -16
      ],
      "id": "bd496864-2fe3-4895-8a69-278527848622",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"overall_risk_score\": 0,\n  \"risk_level\": \"\",\n  \"decision\": \"\",\n  \"reasoning\": \"\",\n  \"key_findings\": []\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1360,
        0
      ],
      "id": "17b63049-64f7-47ca-a790-3a7779a2d8f7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Principal Software Engineer performing the final review of a Pull Request.\n\nYou have received the final analysis from the AI review system.\n\nRisk Assessment:\n{{ JSON.stringify($json.output, null, 2) }}\n\nPrepare a professional Pull Request review report.\n\nInclude:\n\n1. Final Decision\n2. Overall Risk Score\n3. Risk Level\n4. Summary of the Change\n5. Key Findings\n6. Strengths\n7. Issues Identified\n8. Recommendations\n9. Merge Recommendation\n\nWrite the review in a concise and professional manner similar to a senior engineer reviewing a Pull Request on GitHub.\n\nReturn JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        176
      ],
      "id": "d44b832e-d305-4a9a-8b9c-2984fcaa902f",
      "name": "Final Review Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1120,
        352
      ],
      "id": "821367ad-ec86-47ff-9505-48599eacb110",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"review_title\": \"\",\n  \"decision\": \"\",\n  \"risk_score\": 0,\n  \"risk_level\": \"\",\n  \"summary\": \"\",\n  \"strengths\": [],\n  \"issues_identified\": [],\n  \"recommendations\": [],\n  \"merge_recommendation\": \"\",\n  \"github_comment\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1264,
        352
      ],
      "id": "332c879e-a3dd-42d1-911a-1addc49b7dd7",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "sendTo": "praveenpraveensimhadri@gmail.com ",
        "subject": "=🚀 AI PR Review - {{ $json.output.decision }} | Risk Score: {{ $json.output.risk_score }}/100",
        "message": "=<h2>🤖 AI Pull Request Review Report</h2>  <p><b>Review Title:</b> {{$json.output.review_title}}</p> <p><b>Decision:</b> {{$json.output.decision}}</p> <p><b>Risk Score:</b> {{$json.output.risk_score}} / 100</p> <p><b>Risk Level:</b> {{$json.output.risk_level}}</p>  <hr>  <h3>📋 Summary</h3> <p>{{$json.output.summary}}</p>  <h3>✅ Strengths</h3> <ul> {{ $json.output.strengths.map(item => `<li>${item}</li>`).join('') }} </ul>  <h3>⚠️ Issues Identified</h3> <ul> {{ $json.output.issues_identified.map(item => `<li>${item}</li>`).join('') }} </ul>  <h3>💡 Recommendations</h3> <ul> {{ $json.output.recommendations.map(item => `<li>${item}</li>`).join('') }} </ul>  <hr>  <h3>📌 Merge Recommendation</h3> <p><b>{{$json.output.merge_recommendation}}</b></p>  <hr>  <p><i>This report was automatically generated by the AI PR Reviewer System.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        176
      ],
      "id": "61d3ef70-b897-4888-ba58-9a2b318f5722",
      "name": "Send a message",
      "webhookId": "4b75b14f-f18b-4686-b81a-fd318dcab034",
      "credentials": {
        "gmailOAuth2": {
          "id": "VCmlqbkPlbuPFcrh",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get pull requests of a repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get pull requests of a repository": {
      "main": [
        [
          {
            "node": "Get PR Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Code Quality Reviewer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Code Quality Reviewer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get PR Files": {
      "main": [
        [
          {
            "node": "Code Quality Reviewer",
            "type": "main",
            "index": 0
          },
          {
            "node": "PR Summary Agent2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Security Reviewer Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Performance Reviewer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Quality Reviewer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Security Reviewer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Security Reviewer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Security Reviewer Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Performance Reviewer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Performance Reviewer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "PR Summary Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "PR Summary Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Performance Reviewer Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "PR Summary Agent2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Risk Scoring Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Risk Scoring Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Risk Scoring Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Risk Scoring Agent": {
      "main": [
        [
          {
            "node": "Final Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Final Review Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "Final Review Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Final Review Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "37400cfa-5981-412c-95b4-6e16e51e38d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55de7f674ab58be8b0c2e83bd116a8a2074ec94d79f4953c2a8575f410e1943d"
  },
  "id": "m196s0t664kxOIKU",
  "tags": []
}