AI Project Delivery Manager/AI Project Delivery Manager.json
{
  "name": "AI Project Delivery Manager",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Project Information Collecting form",
        "formDescription": "This form will take the project information from the user and helps to extract those information to give as a input data to the ai agents",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Project Name"
            },
            {
              "fieldLabel": "Total Tasks",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Completed tasks",
              "fieldType": "number"
            },
            {
              "fieldLabel": "In Progress Tasks",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Blocked Tasks",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Front End Developers",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Back End Developers",
              "fieldType": "number"
            },
            {
              "fieldLabel": "QA Engineers",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Total Days Remaining",
              "fieldType": "number"
            },
            {
              "fieldLabel": "High Priority Modules"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -64,
        -16
      ],
      "id": "035cfd07-3398-4e0c-977c-8be51786e1bb",
      "name": "On form submission",
      "webhookId": "8cb9cc91-f5f8-418c-9528-5e2a47add3cb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Project Planning Agent.\n\nAnalyze the project information and create a planning summary.\n\nInput:\n\nProject Name:\n{{ $json[\"Project Name\"] }}\n\nTotal Tasks:\n{{ $json[\"Total Tasks\"] }}\n\nCompleted Tasks:\n{{ $json[\"Completed tasks\"] }}\n\nIn Progress Tasks:\n{{ $json[\"In Progress Tasks\"] }}\n\nBlocked Tasks:\n{{ $json[\"Blocked Tasks\"] }}\n\nFrontend Developers:\n{{ $json[\"Front End Developers\"] }}\n\nBackend Developers:\n{{ $json[\"Back End Developers\"] }}\n\nQA Engineers:\n{{ $json[\"QA Engineers\"] }}\n\nDays Remaining:\n{{ $json[\"Total Days Remaining\"] }}\n\nHigh Priority Modules:\n{{ $json[\"High Priority Modules\"] }}\n\nInstructions:\n\nCalculate:\n\nCompletion Percentage =\nCompleted / Total * 100\n\nRemaining Tasks =\nTotal - Completed\n\nDetermine project status:\n\nGREEN:\nBlocked < 10%\n\nYELLOW:\nBlocked 10%-20%\n\nRED:\nBlocked >20%\n\nReturn structured JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        192
      ],
      "id": "cb15c5c3-f2ae-4343-9e85-20c6257984c1",
      "name": "Planner Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -144,
        384
      ],
      "id": "85316c67-a9b5-4aca-a06e-ccc224cf8f8c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"project_name\": \"string\",\n  \"completion_percentage\": \"string\",\n  \"remaining_tasks\": \"string\",\n  \"blocked_tasks\": \"string\",\n  \"team_summary\": \"string\",\n  \"project_status\": \"string\",\n  \"planner_summary\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -16,
        384
      ],
      "id": "00dcc304-9e20-4772-8934-0ba24a5bc99d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        192,
        176
      ],
      "id": "75da94c3-3e61-465c-b272-684fbe2104d8",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"sprint_velocity\": \"string\",\n  \"daily_completion_rate\": \"string\",\n  \"predicted_completion_days\": \"string\",\n  \"sprint_health\": \"string\",\n  \"delivery_trend\": \"string\",\n  \"sprint_summary\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        304,
        160
      ],
      "id": "7a3b7387-1c4c-456f-9267-11c33c68bbca",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Resource Management Agent.\n\nAnalyze team workload and capacity.\n\nProject Name:\n{{ $('Planner Agent').item.json.output.project_name }}\n\nRemaining Tasks:\n{{ $('Planner Agent').item.json.output.remaining_tasks }}\n\nBlocked Tasks:\n{{ $('Planner Agent').item.json.output.blocked_tasks }}\n\nFrontend Developers:\n{{ $('On form submission').item.json[\"Front End Developers\"] }}\n\nBackend Developers:\n{{ $('On form submission').item.json[\"Back End Developers\"] }}\n\nQA Engineers:\n{{ $('On form submission').item.json[\"QA Engineers\"] }}\n\nHigh Priority Modules:\n{{ $('On form submission').item.json[\"High Priority Modules\"] }}\n\nInstructions:\n\nAssume:\n\nFrontend handles 30% of workload\n\nBackend handles 50% of workload\n\nQA handles 20% of workload\n\nCalculate approximate tasks per resource.\n\nDetermine:\n\nLOW\nMEDIUM\nHIGH\nutilization\n\nIdentify overloaded team.\n\nProvide recommendation.\n\nReturn JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        288
      ],
      "id": "e20cc04c-0579-45b6-bf4d-fc6a0a374b7e",
      "name": "Developer Workload Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        128,
        480
      ],
      "id": "6d811661-6f67-482e-9dc4-ffab5f06d5f0",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"frontend_utilization\": \"string\",\n  \"backend_utilization\": \"string\",\n  \"qa_utilization\": \"string\",\n  \"overloaded_team\": \"string\",\n  \"resource_risk\": \"string\",\n  \"recommendation\": \"string\",\n  \"workload_summary\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        480
      ],
      "id": "9abe2a71-05cc-4e25-b8b4-38d53a36d666",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Project Risk Prediction Agent.\n\nAnalyze project risks.\n\nProject Status:\n{{ $('Planner Agent').item.json.output.project_status }}\n\nCompletion Percentage:\n{{ $('Planner Agent').item.json.output.completion_percentage }}\n\nRemaining Tasks:\n{{ $('Planner Agent').item.json.output.remaining_tasks }}\n\nSprint Health:\n{{ $('Sprint Analysis Agent').item.json.output.sprint_health }}\n\nDelivery Trend:\n{{ $('Sprint Analysis Agent').item.json.output.delivery_trend }}\nOverloaded Team:\n{{ $('Developer Workload Agent').item.json.output.overloaded_team }}\n\nResource Risk:\n{{ $('Developer Workload Agent').item.json.output.resource_risk }}\n\nHigh Priority Modules:\n{{ $('On form submission').item.json[\"High Priority Modules\"] }}\n\nInstructions:\n\nAssess:\n\n1. Delivery Risk\n2. Schedule Risk\n3. Resource Risk\n4. Module Risk\n\nClassify:\n\nLOW\nMEDIUM\nHIGH\nCRITICAL\n\nIdentify major risk factors.\n\nRecommend mitigation actions.\n\nReturn JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        -48
      ],
      "id": "75c52651-f371-453e-b438-7d3d1e7628e0",
      "name": "Risk Prediction Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        464,
        160
      ],
      "id": "7c5d2d27-a8ac-409d-85a5-721fe568a252",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"overall_risk_level\": \"string\",\n  \"delivery_risk\": \"string\",\n  \"resource_risk\": \"string\",\n  \"schedule_risk\": \"string\",\n  \"critical_modules\": \"string\",\n  \"risk_factors\": \"string\",\n  \"mitigation_plan\": \"string\",\n  \"risk_summary\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        144
      ],
      "id": "6a0647d8-6b72-42cb-9aca-a2cd7db0c4f2",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Agile Sprint Analyst.\n\nAnalyze the project planning data.\n\nProject Name:\n{{ $json.output.project_name }}\n\nCompletion Percentage:\n{{ $json.output.completion_percentage }}\n\nRemaining Tasks:\n{{ $json.output.remaining_tasks }}\n\nBlocked Tasks:\n{{ $json.output.blocked_tasks }}\n\nProject Status:\n{{ $json.output.project_status }}\n\nDays Remaining:\n{{ $('On form submission').item.json[\"Total Days Remaining\"] }}\n\nTotal Tasks:\n{{ $('On form submission').item.json[\"Total Tasks\"] }}\n\nCompleted Tasks:\n{{ $('On form submission').item.json[\"Completed tasks\"] }}\n\nInstructions:\n\nCalculate:\n\nDaily Completion Rate =\nCompleted Tasks / Days Passed\n\nAssume project duration is 40 days.\n\nDays Passed =\n40 - Days Remaining\n\nEstimate:\n\nPredicted Completion Days =\nRemaining Tasks / Daily Completion Rate\n\nSprint Health:\n\nGOOD\nif predicted completion days <= days remaining\n\nWARNING\nif predicted completion days exceeds days remaining by <= 20%\n\nCRITICAL\nif predicted completion days exceeds days remaining by >20%\n\nDelivery Trend:\n\nON TRACK\nAT RISK\nDELAY EXPECTED\n\nProvide concise analysis.\n\nReturn JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -32
      ],
      "id": "a2ff0144-f65b-4f98-9864-0266f748625d",
      "name": "Sprint Analysis Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Delivery Forecasting Agent.\n\nAnalyze project delivery timelines.\n\nProject Status:\n{{ $('Planner Agent').item.json.output.project_status }}\n\nRemaining Tasks:\n{{ $('Planner Agent').item.json.output.remaining_tasks }}\n\nDays Remaining:\n{{ $('On form submission').item.json[\"Total Days Remaining\"] }}\n\nPredicted Completion Days:\n{{ $('Sprint Analysis Agent').item.json.output.predicted_completion_days }}\n\nOverall Risk:\n{{ $('Risk Prediction Agent').item.json.output.overall_risk_level }}\n\nDelivery Trend:\n{{ $('Sprint Analysis Agent').item.json.output.delivery_trend }}\n\nInstructions:\n\nDetermine:\n\n1. Will project finish on time?\n2. Expected delay days\n3. Delivery confidence\n\nRules:\n\nON TRACK\nif predicted completion days <= days remaining\n\nAT RISK\nif predicted completion days exceeds days remaining by <= 5 days\n\nDELAYED\nif predicted completion days exceeds days remaining by > 5 days\n\nConfidence:\n\nHIGH\nMEDIUM\nLOW\n\nProvide concise reasoning.\n\nReturn JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        288
      ],
      "id": "55fe769c-2136-4170-9e80-93b9c694a4bd",
      "name": "Deadline Prediction Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        512,
        480
      ],
      "id": "a8963a5d-7424-4031-90f5-be8cc62ff59a",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"current_deadline_status\": \"string\",\n  \"predicted_completion_days\": \"string\",\n  \"expected_delay_days\": \"string\",\n  \"delivery_confidence\": \"string\",\n  \"deadline_risk\": \"string\",\n  \"deadline_summary\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        624,
        480
      ],
      "id": "6848fc0b-c1ad-4075-a2a2-496bcacabe74",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Project Delivery Director.\n\nCreate an executive project health report.\n\nProject Name:\n{{ $('Planner Agent').item.json.output.project_name }}\n\nProject Status:\n{{ $('Planner Agent').item.json.output.project_status }}\n\nCompletion Percentage:\n{{ $('Planner Agent').item.json.output.completion_percentage }}\n\nSprint Health:\n{{ $('Sprint Analysis Agent').item.json.output.sprint_health }}\n\nDelivery Trend:\n{{ $('Sprint Analysis Agent').item.json.output.delivery_trend }}\n\nOverloaded Team:\n{{ $('Developer Workload Agent').item.json.output.overloaded_team }}\n\nResource Risk:\n{{ $('Developer Workload Agent').item.json.output.resource_risk }}\n\nOverall Risk:\n{{ $('Risk Prediction Agent').item.json.output.overall_risk_level }}\n\nCritical Modules:\n{{ $('Risk Prediction Agent').item.json.output.critical_modules }}\n\nDeadline Status:\n{{ $('Deadline Prediction Agent').item.json.output.current_deadline_status }}\n\nExpected Delay:\n{{ $('Deadline Prediction Agent').item.json.output.expected_delay_days }}\n\nInstructions:\n\nCreate a concise executive report.\n\nFocus on:\n\n1. Project health\n2. Delivery status\n3. Resource concerns\n4. Critical modules\n5. Recommended actions\n6. Final executive recommendation\n\nReturn JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        -48
      ],
      "id": "4dfdafb1-77d7-4516-a7a6-8cc02ffb5413",
      "name": "Executive Reporting Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        768,
        160
      ],
      "id": "bcec83ff-1803-4366-9ffd-1189f2330d1f",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"project_health\": \"string\",\n  \"delivery_status\": \"string\",\n  \"risk_level\": \"string\",\n  \"overloaded_team\": \"string\",\n  \"critical_modules\": \"string\",\n  \"executive_summary\": \"string\",\n  \"recommended_actions\": \"string\",\n  \"executive_recommendation\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        896,
        160
      ],
      "id": "ef06d8e4-9cbd-46c8-b1c8-89761f1a3488",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "sendTo": "praveenpraveensimhadri@gmail.com ",
        "subject": "=AI Project Delivery Report - {{ $('Planner Agent').item.json.output.project_name }}",
        "message": "=<h2>AI Project Delivery Report</h2>  <p><b>Project Health:</b> {{ $json.output.project_health }}</p>  <p><b>Delivery Status:</b> {{ $json.output.delivery_status }}</p>  <p><b>Risk Level:</b> {{ $json.output.risk_level }}</p>  <p><b>Overloaded Team:</b> {{ $json.output.overloaded_team }}</p>  <p><b>Critical Modules:</b> {{ $json.output.critical_modules }}</p>  <p><b>Executive Summary:</b><br> {{ $json.output.executive_summary }}</p>  <p><b>Recommended Actions:</b><br> {{ $json.output.recommended_actions }}</p>  <p><b>Executive Recommendation:</b><br> {{ $json.output.executive_recommendation }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        320
      ],
      "id": "eb74588e-c85a-461d-bc65-06fba8ed5991",
      "name": "Send a message",
      "webhookId": "e7bc21cd-5b93-4a4e-938b-273810f30818",
      "credentials": {
        "gmailOAuth2": {
          "id": "VCmlqbkPlbuPFcrh",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Planner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Planner Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Planner Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Planner Agent": {
      "main": [
        [
          {
            "node": "Sprint Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Sprint Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Sprint Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Developer Workload Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Developer Workload Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Developer Workload Agent": {
      "main": [
        [
          {
            "node": "Risk Prediction Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Risk Prediction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Risk Prediction Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Sprint Analysis Agent": {
      "main": [
        [
          {
            "node": "Developer Workload Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Prediction Agent": {
      "main": [
        [
          {
            "node": "Deadline Prediction Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Deadline Prediction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Deadline Prediction Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Deadline Prediction Agent": {
      "main": [
        [
          {
            "node": "Executive Reporting Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Executive Reporting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "Executive Reporting Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Executive Reporting Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "68ec4bf5-621d-4b4d-94b3-dc3df8b84f0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55de7f674ab58be8b0c2e83bd116a8a2074ec94d79f4953c2a8575f410e1943d"
  },
  "id": "ag7BAWLao4Wt3UbA",
  "tags": []
}