AI-Hotfix-Risk-Assessment-Agent/AI Hotfix Risk Assessment System.json
{
  "name": "AI Hotfix Risk Assessment System",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Hotfix Details Form",
        "formDescription": "This Form will take all the information related to Hotfix ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Incident ID"
            },
            {
              "fieldLabel": "Incident Title"
            },
            {
              "fieldLabel": "Severity",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Critical"
                  },
                  {
                    "option": "High "
                  },
                  {
                    "option": "Low"
                  },
                  {
                    "option": "Medium"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Affected Service"
            },
            {
              "fieldLabel": "Incident Description",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Environment",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Pre-Pod"
                  },
                  {
                    "option": "Production"
                  },
                  {
                    "option": "Staging"
                  },
                  {
                    "option": "QA"
                  },
                  {
                    "option": "Development"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Business Impact",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Number of Users Affected",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Customer Impact",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Revenue Impact"
            },
            {
              "fieldLabel": "Hotfix PR Number",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Deployment Window",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Immediate"
                  },
                  {
                    "option": "Within  1 Hour"
                  },
                  {
                    "option": "Within 3 hours"
                  },
                  {
                    "option": "Next Maintenance Window"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Rollback Option Availble",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  },
                  {
                    "option": "Partially availble"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Error Logs",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -128,
        -160
      ],
      "id": "257afa66-3756-459c-9147-be536ebedf82",
      "name": "On form submission",
      "webhookId": "b544040a-c0aa-4669-a496-c3bb58c23f45"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Incident Commander responsible for handling production incidents and emergency hotfix deployments.\n\nAnalyze the following incident details.\n\nIncident ID:\n{{ $json['Incident ID'] }}\n\nIncident Title:\n{{ $json['Incident Title'] }}\n\nSeverity:\n{{ $json['Severity'] }}\n\nAffected Service:\n{{ $json['Affected Service'] }}\n\nIncident Description:\n{{ $json['Incident Description'] }}\n\nEnvironment:\n{{ $json['Environment'] }}\n\nBusiness Impact:\n{{ $json['Business Impact'] }}\n\nNumber of Users Affected:\n{{ $json['Number of Users Affected'] }}\n\nCustomer Impact:\n{{ $json['Customer Impact'] }}\n\nRevenue Impact:\n{{ $json['Revenue Impact'] }}\n\nHotfix PR Number:\n{{ $json['Hotfix PR Number'] }}\n\nDeployment Window:\n{{ $json['Deployment Window'] }}\n\nRollback Available:\n{{ $json['Rollback Option Available'] }}\n\nError Logs:\n{{ $json['Error Logs'] }}\n\nDetermine:\n\n1. Incident category.\n2. Incident priority.\n3. Business criticality.\n4. Hotfix urgency.\n5. Production impact.\n6. Recommended investigation steps.\n7. Recommended deployment urgency.\n8. Executive summary.\n\nRespond only in JSON.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        48
      ],
      "id": "66559ca7-c2c8-42e2-ab6f-b9f54d7bd590",
      "name": "Hotfix Intake Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -144,
        224
      ],
      "id": "4eef66e2-0ab2-4e62-97ce-b16cbd1b321b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"incident_category\": \"\",\n  \"incident_priority\": \"\",\n  \"business_criticality\": \"\",\n  \"hotfix_urgency\": \"\",\n  \"production_impact\": \"\",\n  \"recommended_investigation_steps\": [\n    \"\"\n  ],\n  \"deployment_urgency\": \"\",\n  \"executive_summary\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        16,
        224
      ],
      "id": "a5b7ceaa-9a8d-4321-aae6-8682468c9176",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getPullRequests",
        "owner": {
          "__rl": true,
          "value": "praveenchapala",
          "mode": "list",
          "cachedResultName": "praveenchapala",
          "cachedResultUrl": "https://github.com/praveenchapala"
        },
        "repository": {
          "__rl": true,
          "value": "api-learning-journey",
          "mode": "list",
          "cachedResultName": "api-learning-journey",
          "cachedResultUrl": "https://github.com/praveenchapala/api-learning-journey"
        },
        "getRepositoryPullRequestsFilters": {
          "state": "all"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        64,
        -160
      ],
      "id": "3d4b0bb6-ff5f-447e-a912-e8cce1aee7db",
      "name": "Get pull requests of a repository",
      "webhookId": "a923e2f0-165a-44c2-915d-e05cc4152c77",
      "credentials": {
        "githubApi": {
          "id": "WSo0wT2i7MFv9Is5",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json.base.repo.owner.login}}/{{$json.base.repo.name}}/pulls/{{$json.number}}/files",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        -160
      ],
      "id": "f96907f6-90f3-4fb7-b7d4-6d967857547a",
      "name": "Get PR FIles"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Software Architect responsible for analyzing emergency production hotfixes.\n\nAnalyze the following Pull Request file.\n\nFile:\n{{ $json.filename }}\n\nStatus:\n{{ $json.status }}\n\nAdditions:\n{{ $json.additions }}\n\nDeletions:\n{{ $json.deletions }}\n\nPatch:\n{{ $json.patch }}\n\nDetermine:\n\n1. Change Type\n2. Affected Services\n3. Modules Affected\n4. Whether Critical Business Logic changed\n5. Whether Configuration changed\n6. Whether Database changed\n7. Complexity\n8. Summary",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        48
      ],
      "id": "99033716-79d8-46a6-996d-14993295d4b2",
      "name": "Hotfix Analyzer Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        176,
        224
      ],
      "id": "d2604c20-3e1b-41fc-bc38-f27592600132",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"change_type\": \"string\",\n  \"affected_services\": [\n    \"string\"\n  ],\n  \"modules_affected\": [\n    \"string\"\n  ],\n  \"critical_business_logic\": \"Yes or No\",\n  \"configuration_change\": \"Yes or No\",\n  \"database_change\": \"Yes or No\",\n  \"complexity\": \"Low, Medium, High\",\n  \"summary\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "772a9071-b22d-48cb-9ef0-103fe14cbe50",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Principal Site Reliability Engineer (SRE).\n\nAnalyze the impact of this hotfix.\n\nChange Type:\n{{ $json.output.change_type }}\n\nAffected Services:\n{{ $json.output.affected_services }}\n\nModules Affected:\n{{ $json.output.modules_affected }}\n\nCritical Business Logic:\n{{ $json.output.critical_business_logic }}\n\nConfiguration Change:\n{{ $json.output.configuration_change }}\n\nDatabase Change:\n{{ $json.output.database_change }}\n\nComplexity:\n{{ $json.output.complexity }}\n\nSummary:\n{{ $json.output.summary }}\n\nDetermine:\n\n1. Which services could be impacted.\n2. Whether users will notice the change.\n3. Whether deployment is risky.\n4. Whether testing is required.\n5. Whether rollback preparation is required.\n6. Business impact level.\n7. Recommendation for deployment.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        -176
      ],
      "id": "fe227ba5-04ea-470d-97c7-fa4d0d0f5e57",
      "name": "Service Impact Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        464,
        0
      ],
      "id": "4c76fe49-0102-424c-9326-9d98d83e79d6",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"affected_services\": [\n    \"string\"\n  ],\n  \"affected_users\": \"None | Internal Users | Customers | All Users\",\n  \"deployment_risk\": \"Low | Medium | High | Critical\",\n  \"testing_required\": \"Yes | No\",\n  \"rollback_required\": \"Yes | No\",\n  \"business_impact\": \"None | Low | Medium | High | Critical\",\n  \"recommendation\": \"Deploy | Deploy with Monitoring | Canary Deployment | Blue-Green Deployment | Do Not Deploy\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        -32
      ],
      "id": "e754b68b-8bfb-489c-98b1-743f701f6409",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        464,
        320
      ],
      "id": "915fc57f-1bdc-4d21-8246-d95b2cad9549",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"production_risk\": \"Low | Medium | High | Critical\",\n  \"incident_probability\": \"Low | Medium | High\",\n  \"deployment_failure_probability\": \"Low | Medium | High\",\n  \"severity\": \"Low | Medium | High | Critical\",\n  \"likely_failed_services\": [\n    \"string\"\n  ],\n  \"affected_users\": \"None | Internal Users | Customers | All Users\",\n  \"business_impact\": \"None | Low | Medium | High | Critical\",\n  \"monitoring_recommendations\": [\n    \"string\"\n  ],\n  \"final_recommendation\": \"Proceed with deployment | Deploy with monitoring | Canary deployment | Blue-Green deployment | Do not deploy\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        304
      ],
      "id": "e9d4f1f7-d430-4a89-9b55-1b1cd5050692",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior DevOps Architect responsible for planning safe production deployments.\n\nAnalyze the following production risk assessment.\n\nProduction Risk:\n{{ $json.output.production_risk }}\n\nIncident Probability:\n{{ $json.output.incident_probability }}\n\nDeployment Failure Probability:\n{{ $json.output.deployment_failure_probability }}\n\nSeverity:\n{{ $json.output.severity }}\n\nLikely Failed Services:\n{{ $json.output.likely_failed_services }}\n\nAffected Users:\n{{ $json.output.affected_users }}\n\nBusiness Impact:\n{{ $json.output.business_impact }}\n\nMonitoring Recommendations:\n{{ $json.output.monitoring_recommendations }}\n\nFinal Recommendation:\n{{ $json.output.final_recommendation }}\n\nDetermine:\n\n1. Recommended deployment strategy.\n2. Whether approval from leadership is required.\n3. Rollback plan.\n4. Monitoring plan.\n5. Post-deployment validation steps.\n6. Deployment checklist.\n7. Final deployment decision.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        656,
        -176
      ],
      "id": "3d941f9b-32a6-4ac7-bb16-2cf926f74b28",
      "name": "Deployment Strategy Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        720,
        16
      ],
      "id": "5db17b5c-98d8-4ea2-b3ac-fc701236d68f",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"deployment_strategy\": \"Direct Deployment | Canary Deployment | Blue-Green Deployment | Rolling Deployment | Stop Deployment\",\n  \"leadership_approval_required\": \"Yes | No\",\n  \"rollback_plan\": [\n    \"string\"\n  ],\n  \"monitoring_plan\": [\n    \"string\"\n  ],\n  \"post_deployment_validation\": [\n    \"string\"\n  ],\n  \"deployment_checklist\": [\n    \"string\"\n  ],\n  \"final_decision\": \"Deploy | Deploy with Monitoring | Delay Deployment | Do Not Deploy\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        848,
        -16
      ],
      "id": "83061ebd-c7af-4648-88f4-0758b9b99be0",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an Engineering Director preparing an executive report for senior leadership.\n\nGenerate a concise executive summary based on:\n\nIncident Information:\n- Incident Category: {{ $('Hotfix Intake Agent').item.json.output.incident_category }}\n- Incident Priority: {{ $('Hotfix Intake Agent').item.json.output.incident_priority }}\n- Business Criticality: {{ $('Hotfix Intake Agent').item.json.output.business_criticality }}\n- Production Impact: {{ $('Hotfix Intake Agent').item.json.output.production_impact }}\n- Deployment Urgency: {{ $('Hotfix Intake Agent').item.json.output.deployment_urgency }}\n\nProduction Risk:\n- Production Risk: {{ $('Production Risk Prediction Agent').item.json.output.production_risk }}\n- Incident Probability: {{ $('Production Risk Prediction Agent').item.json.output.incident_probability }}\n- Severity: {{ $('Production Risk Prediction Agent').item.json.output.severity }}\n\nDeployment Strategy:\n- Deployment Strategy: {{ $('Deployment Strategy Agent').item.json.output.deployment_strategy }}\n- Final Decision: {{ $('Deployment Strategy Agent').item.json.output.final_decision }}\n\nGenerate an executive report suitable for CTOs and Engineering Managers.\nAvoid contradictions.\nPrioritize business impact over code changes.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        192
      ],
      "id": "0a14fddb-60ac-4d21-8617-087c2b095e59",
      "name": "Executive Hotfix Report Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        880,
        384
      ],
      "id": "cc4613a5-a1af-459b-a55d-db2dc0dce67d",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "npYrw9qld7jIsaag",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"executive_summary\": \"string\",\n  \"business_assessment\": \"string\",\n  \"risk_assessment\": \"string\",\n  \"deployment_recommendation\": \"string\",\n  \"leadership_decision\": \"string\",\n  \"next_steps\": [\n    \"string\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        368
      ],
      "id": "ad7380dc-299c-4cc5-9e5c-32a66ff829db",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Principal Site Reliability Engineer (SRE) responsible for predicting production risks before emergency hotfix deployments.\n\nAnalyze the following hotfix impact assessment.\n\nAffected Services:\n{{ $json.output.affected_services }}\n\nAffected Users:\n{{ $json.output.affected_users }}\n\nDeployment Risk:\n{{ $json.output.deployment_risk }}\n\nTesting Required:\n{{ $json.output.testing_required }}\n\nRollback Required:\n{{ $json.output.rollback_required }}\n\nBusiness Impact:\n{{ $json.output.business_impact }}\n\nRecommendation:\n{{ $json.output.recommendation }}\n\nPredict:\n\n1. Probability of production incident.\n2. Probability of deployment failure.\n3. Severity if failure occurs.\n4. Services most likely to fail.\n5. User impact.\n6. Business impact.\n7. Monitoring recommendations.\n8. Final deployment recommendation.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        128
      ],
      "id": "7c4365ff-18e1-49a8-bbfe-0371bb3fef32",
      "name": "Production Risk Prediction Agent"
    },
    {
      "parameters": {
        "jsCode": "const report = $input.first().json.output;\n\nconst html = `\n<html>\n<head>\n<style>\nbody{\nfont-family:Arial;\nbackground:#f5f7fa;\npadding:20px;\n}\n\n.container{\nbackground:white;\nborder-radius:12px;\npadding:30px;\nbox-shadow:0 2px 10px rgba(0,0,0,0.1);\n}\n\n.header{\nbackground:#dc2626;\ncolor:white;\npadding:20px;\nborder-radius:10px;\nfont-size:28px;\nfont-weight:bold;\n}\n\n.section{\nmargin-top:25px;\n}\n\n.title{\nfont-size:18px;\nfont-weight:bold;\ncolor:#1e293b;\nmargin-bottom:10px;\n}\n\n.card{\nbackground:#f8fafc;\npadding:18px;\nborder-radius:10px;\nborder-left:5px solid #2563eb;\n}\n\nul{\npadding-left:20px;\n}\n\nli{\nmargin-bottom:8px;\n}\n\ntable{\nwidth:100%;\nborder-collapse:collapse;\nmargin-top:10px;\n}\n\nth{\nbackground:#2563eb;\ncolor:white;\npadding:12px;\n}\n\ntd{\npadding:12px;\nborder:1px solid #e2e8f0;\n}\n</style>\n</head>\n\n<body>\n\n<div class=\"container\">\n\n<div class=\"header\">\n🚨 AI Hotfix Risk Assessment Report\n</div>\n\n<div class=\"section\">\n<div class=\"title\">Executive Summary</div>\n<div class=\"card\">\n${report.executive_summary}\n</div>\n</div>\n\n<div class=\"section\">\n<div class=\"title\">Business Assessment</div>\n<div class=\"card\">\n${report.business_assessment}\n</div>\n</div>\n\n<div class=\"section\">\n<div class=\"title\">Risk Assessment</div>\n<div class=\"card\">\n${report.risk_assessment}\n</div>\n</div>\n\n<div class=\"section\">\n<div class=\"title\">Deployment Recommendation</div>\n<div class=\"card\">\n${report.deployment_recommendation}\n</div>\n</div>\n\n<div class=\"section\">\n<div class=\"title\">Leadership Decision</div>\n<div class=\"card\">\n${report.leadership_decision}\n</div>\n</div>\n\n<div class=\"section\">\n<div class=\"title\">Next Steps</div>\n<div class=\"card\">\n<ul>\n${report.next_steps.map(i=>`<li>${i}</li>`).join(\"\")}\n</ul>\n</div>\n</div>\n\n</div>\n</body>\n</html>\n`;\n\nreturn [\n{\njson:{\nsubject:\"🚨 AI Hotfix Risk Assessment Report\",\nhtml\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -176
      ],
      "id": "92a97efc-656d-4b11-a137-f9e8918e0b32",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "praveenpraveensimhadri@gmail.com ",
        "subject": "={{$json.subject}}",
        "message": "={{$json.html}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        48
      ],
      "id": "b113c216-2e85-4480-b222-25cf5e6d16b8",
      "name": "Send a message",
      "webhookId": "f08e0577-32a2-43fa-8bb6-3c7c4fa158d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "VCmlqbkPlbuPFcrh",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Hotfix Intake Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Hotfix Intake Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Hotfix Intake Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Hotfix Intake Agent": {
      "main": [
        [
          {
            "node": "Get pull requests of a repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get pull requests of a repository": {
      "main": [
        [
          {
            "node": "Get PR FIles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PR FIles": {
      "main": [
        [
          {
            "node": "Hotfix Analyzer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Hotfix Analyzer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Hotfix Analyzer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Hotfix Analyzer Agent": {
      "main": [
        [
          {
            "node": "Service Impact Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Service Impact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Service Impact Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Service Impact Agent": {
      "main": [
        [
          {
            "node": "Production Risk Prediction Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Production Risk Prediction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Production Risk Prediction Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Deployment Strategy Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Deployment Strategy Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Deployment Strategy Agent": {
      "main": [
        [
          {
            "node": "Executive Hotfix Report Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Executive Hotfix Report Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "Executive Hotfix Report Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Production Risk Prediction Agent": {
      "main": [
        [
          {
            "node": "Deployment Strategy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executive Hotfix Report Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "65f6d169-2d8d-4a03-b80f-1f4e86dd118c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55de7f674ab58be8b0c2e83bd116a8a2074ec94d79f4953c2a8575f410e1943d"
  },
  "id": "oAKAa3bepVd7b6Gt",
  "tags": []
}